--- arch/x86/Kconfig
+++ arch/x86/Kconfig
@@ -25,6 +25,7 @@ config X86
 	select IPIPE_HAVE_HOSTRT if IPIPE
 	select IPIPE_HAVE_VM_NOTIFIER if IPIPE
 	select IPIPE_HAVE_SAFE_THREAD_INFO if X86_64
+	select IPIPE_WANT_PTE_PINNING if IPIPE
 	select ARCH_MIGHT_HAVE_ACPI_PDC if ACPI
 	select ARCH_HAS_DEBUG_STRICT_USER_COPY_CHECKS
 	select ARCH_HAS_FAST_MULTIPLIER
