config IPIPE
	bool "Interrupt pipeline"
	default y
	---help---
	  Activate this option if you want the interrupt pipeline to be
	  compiled in.

config IPIPE_CORE
	def_bool y
	depends on IPIPE

config IPIPE_LEGACY
	bool "I-pipe legacy interface"
	depends on IPIPE
	default y
	---help---
	  Activate this option if you want to control the interrupt
	  pipeline via the legacy interface.

config IPIPE_DELAYED_ATOMICSW
       bool
       depends on IPIPE
       default n

config IPIPE_UNMASKED_CONTEXT_SWITCH
       bool
       depends on IPIPE
       default n

config HAVE_IPIPE_HOSTRT
       bool
