menu "MPC5200 Networking Options"
	depends PPC_MPC52xx && NET_ETHERNET

config FEC_MPC52xx
	bool "FEC Ethernet"
	depends on NET_ETHERNET
	select PPC_BESTCOMM
	select CRC32
	---help---
	  This option enables support for the MPC5200's on-chip
	  Fast Ethernet Controller

config USE_MDIO
	bool "Use external Ethernet MII PHY"
	select MII
	depends FEC_MPC52xx
	---help---
	  The MPC5200's FEC can connect to the Ethernet either with
	  an external MII PHY chip or 10 Mbps 7-wire interface 
	  (Motorola? industry standard).
	  If your board uses an external PHY, say y, else n.

config FEC_AM79C874
	bool "Use AMD Am79C874 external PHY"
	depends on USE_MDIO
	default y if PPC_MOTIONPRO
	---help---
	Include support for AMD Am79C874 PHY chip.

config FEC_79C874_125TRANS
	bool "Use 1.25:1 transformer ratio"
	depends on FEC_AM79C874
	default n if PPC_MOTIONPRO
	---help---
	From chip specification: AMD Am79C874 PHY can use 1:1 isolation
	transformers or 1.25:1 isolation transformers. 1.25:1 isolation
	transformers provide 20% lower transmit power consumption. Select this
	option to use the 1.25:1 ratio, otherwise the 1:1 ratio will be used.
	This feature depends on the state of the GPIO[1]/TP125 ping during the
	rising edge of reset. See the "PIN DESCRIPTIONS" section in the
	"Am79C874 NetPHYTM-1LP Low Power 10/100-TX/FX Ethernet Transceiver"
	document.

endmenu
