menuconfig ASYNC_CORE
	tristate "Asynchronous Bulk Memory Transfers/Transforms"
	default n
	---help---
	  This enables the async_tx interface layer for dma (offload) engines.
	  Subsystems coded to this api will use offload engines for bulk memory
	  operations (e.g. memcpy, memset, xor...).  When an offload engine is not
	  available the interface will implicitly fall back to a software
	  implementation of the operation.

	  If unsure, say N

if ASYNC_CORE

config ASYNC_MEMCPY
	default m
	tristate "async_memcpy support"

config ASYNC_XOR
	default m
	tristate "async_xor support"

config ASYNC_MEMSET
	default m
	tristate "async_memset support"

config ASYNC_PQXOR
	default m
	tristate "async_pqxor support"

config ASYNC_R6RECOV
	default m
	tristate "async_r6recovery support"

endif
